<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur iste incidunt expedita reprehenderit molestiae porro dolore, quidem, inventore doloremque atque quae labore rerum, qui blanditiis odit excepturi ab modi?
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sapiente veritatis quibusdam eum sequi laudantium quo ad. Doloribus, soluta, asperiores temporibus eveniet molestias odit totam harum dolor, tempora cum numquam.

  <button (click)="openNow()">Open Drawer</button>

  <div #cupertinoPane class="cupertino-pane" style="margin: 20px;">
    <h1>Cupertino Pane Cong</h1>
    <div class="content">
      <p>
        This starter project comes with simple tabs-based layout for apps
        that are going to primarily use a Tabbed UI.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quae error expedita, architecto numquam omnis labore! Dolores ipsa odio veniam libero, amet temporibus quisquam, alias nihil tempore modi molestiae provident?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam natus ipsam minima. Blanditiis maxime, possimus odit omnis explicabo vel consequatur ullam similique aliquid, suscipit assumenda, maiores minus adipisci tempora in?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cum iusto accusamus, at dignissimos autem ipsa fuga illo quasi laborum, sed quia! Sit natus praesentium mollitia, ipsa ipsam voluptatem magni?

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque amet, iste hic assumenda ipsam et optio omnis quaerat placeat dolores dicta id velit eum rem, voluptates unde, ducimus excepturi exercitationem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nihil, praesentium earum ratione reprehenderit accusantium explicabo iste possimus, sit aperiam dolor adipisci et sapiente delectus quis vitae dolorem! Dolorum, quaerat.
        <img src="../../assets/pexel1.jpg" />
        <img src="../../assets/pexel2.jpg" />
        <img src="../../assets/pexel3.jpg" />
      </p>
      
    </div>    
  </div>
</ion-content>
